<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
		<add key="getURL" value="/GetMailConfig"/>
		<add key="postURL" value="/SaveMailmessage"/>
		<add key="postconversationsURL" value="/SaveMailConversation"/>
		<add key="getTicket" value="/GenerateSupportTicket"/>
		<add key="DNSAlias" value="http://itmanager1122.dbt.local"/>
	</appSettings>
</configuration>
