<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<appSettings>
		<add key="SaveUpdatesUrl" value="/SaveEngineUpdates" />
		<add key="UpdateStatusUrl" value="/UpdateEngineRequests" />
		<add key="UpdateReportUrl" value="/SaveEngineReports" />
		<add key="GetEngineRequestUrl" value="/GetEngineRequests" />
		<add key="GetEngineConfigsUrl" value="/GetEngineConfigs" />
		<add key="SaveGroupsUrl" value="/SaveEngineGroups" />
		<add key="SaveUpdateTimerInterval" value="6000" />
		<add key="DeployUpdateTimerInterval" value="6000" />
		<add key="MonitorUpdateTimerInterval" value="6000" />
		<add key="DnsAlias" value="http://itmanager1122." />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>