<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="getURL" value="/GetMailConfig" />
		<add key="postURL" value="/SaveMailmessage" />
		<add key="postconversationsURL" value="/SaveMailConversation" />
		<add key="getTicket" value="/GenerateSupportTicket" />
		<add key="DNSAlias" value="http://itmanager1122." />
		<add key="interval" value="60000" />
		<add key="isSSL" value="true" />
		<add key="ticketExpression" value="##(" />
		<add key="ticketSubjectTemplate" value="##(TicketNumber) is Created" />
		<add key="getNotificationMatrix" value="/GetNotificationFieldMatrix" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>